
.auth-form-container, .register-form {
    display: flex;
    position: center;
    flex-direction: column;
    width: 500px;
    background-color: green;
  }

.login-form{
  margin-left: 500px;
  margin-top: 100px;
}
  
@media screen and (min-width: 600px) {
.auth-form-container {
      padding: 2rem;
      border: 1px solid black;
      border-radius: 10px;
      margin: 0.5rem;
    }
  }
  
  label {
    text-align: left;
    padding: 0.25rem 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: larger;
  }
  
  input {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: large;
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 30px;
  }
  
  button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    background-color: blue;
    font-weight: bold;
    padding: 20px;
    border-radius: 30px;
    cursor: pointer;
    color: black;
    font-size: 20px;
    color: #fff;
background-color: #32BDEA;
border-color: #32BDEA;
box-shadow: unset;
  }
  
  .link-btn {
    background: none;
    color: white;
    text-decoration: underline;
  }

  .profile-btn{
    font-size: 15px;
    font-weight: bold;
    border-color: black;
    border-width: 20px;
  }

  .profile{
    padding: 2rem;
    border: 1px solid green;
    padding: 1rem;
    border-radius: 10px;
    margin: 0.5rem;
  }

  .profile-data{
    border: 1px solid green;
    padding: 1rem;
    border-radius: 10px;
    margin: 0.5rem;
  }

  .profile-info{
    border: 1px solid black;
    padding: 0.5rem;
    font-size: 30px;
    margin-top: 5px;
    border-radius: 10px;
  }

  .inventory-box{
    border: 1px solid green;
    padding: 1rem;
    border-radius: 10px;
    margin: 0.5rem;
  }

  .navbar{
    border: 1px solid black;
    padding: 1rem;
    border-radius: 10px;
    margin: 0.5rem;
    background-image: linear-gradient(white, green);
    margin-top: 1px;
  }

  .link{
    color: black;
    background-color: yellow;
    border: 1px solid black;
    padding: auto;
    margin-right: 10px;
    border-radius: 5px;
  }

  .inv-add{
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 10px;
    margin: 0.5rem;
    background-image: linear-gradient(white, green);
  }

      .inv-add-btn{
    background-color: black;
    color: wheat;
    font-weight: bold;
    border-width: 5px;
    border-color: white;
    font-size: 20px;
    padding: 10px;
  }

  .add-form{
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 10px;
    margin: 0.5rem;
    background-color: green;
    position: center;
    flex-direction: column;
    width: 800px;
    display: flex;
    align-self: center;
    margin-left: 350px;
    margin-top: 15px;
  }

  .add-btn{
    background-color: red;
    color: black;
  }

  .table{
    font-size: 20px;
    font-weight: bold;       
    padding-left: 0 8px;
    justify-content: 'center';
    background-color: '#FFA500';
  }